{% extends "layouts/default.twig" %}

{% block content %}
  <div class="container">
    <h1>All Products</h1>
    <div class="product-grid">
      {% for product in products %}
        {% include 'components/product-card.twig' %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
