{% extends "layouts/default.twig" %}

{% block content %}
  <section class="hero">
    {% if theme.settings.hero_banner %}
      <img src="{{ theme.settings.hero_banner }}" alt="Hero banner">
    {% endif %}
  </section>

  <section class="product-grid container">
    {% for product in products %}
      {% include 'components/product-card.twig' %}
    {% endfor %}
  </section>
{% endblock %}
